<div class="container mx-auto">

  <div class="flex max-w-xl center-modal">

    <div class="flex-1 left-tab">
      <div class="left-header">
        <span><img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt=""></span>

        <div class="left-links">
          <ul class="menu bg-base-100 w-56 rounded-box">
            <li>
              <a>
                <i class="fi fi-rr-home"></i>
                Home
              </a>
            </li>
            <li>
              <a>
                <i class="fi fi-rr-world"></i>
                Explore
              </a>
            </li>
            <li>
              <a>
                <i class="fi fi-rr-bell-ring"></i>
                Notifications
              </a>
            </li>
            <li>
              <a>
                <i class="fi fi-rr-paper-plane"></i>
                Messages
              </a>
            </li>
            <li>
              <a>
                <i class="fi fi-rr-book-bookmark"></i>
                Bookmarks
              </a>
            </li>
            <li>
              <a>
                <i class="fi fi-rr-list-check"></i>
                Lists
              </a>
            </li>
          </ul>


        </div>
        
      </div>

    </div>

    <div class="flex-1 center-tab">
      <span><h1>Home</h1></span>

      <div class="flex input-group">
        <div class="image">
          <div class="avatar">
            <div class="w-12 rounded-full image-round">
              <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" />
            </div>
          </div>
        </div>

        <div class="input-div">
          <input type="text" placeholder="Type here" class="input input-ghost w-full max-w-xs" />
        </div>

      </div>

      <div class="input-bottom-icons">
          
        <div class="left-icons">
            <a>
              <i class="fi fi-rr-picture text-primary"></i>
            </a>
            <a>
              <i class="fi fi-rr-gif text-primary"></i>
            </a>
            <a>
              <i class="fi fi-rr-list text-primary"></i>
            </a>
            <a>
              <i class="fi fi-rr-smile text-primary"></i>
            </a>
            <a>
              <i class="fi fi-rr-calendar-lines text-primary"></i>
            </a>

         
        </div>

        <button class="btn btn-info w-24 h-2 rounded-full" style="color:white ;">Tweet</button>


      </div>

      <div class="show-tweets">
        <span><p class="text-primary">Show 100 Tweets</p></span>
      </div>

      <div class="tweets">

        <div class="single-tweet">

          <div class="image">
            <div class="avatar">
              <div class="w-12 rounded-full image-round">
                <img src="https://i.pinimg.com/564x/bd/11/b4/bd11b4c75ab3be809d368aea86c2fb6d.jpg" />
              </div>
            </div>
          </div>
          <div class="tweet-body">

            <div class="tweet-head">

              <div class="left-tweet-head">
                <div class="dropdown dropdown-hover">
                  <label tabindex="0" class="m-1 text-white"> <b>Leo Messi</b></label>
                    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                    
                  </ul>
                </div>
                <span class="text-sm handle">@leo_messi_10</span>
              </div>

              <div class="right-tweet-head">
                <span class="text-white "><a><i class="fi-rr-menu-dots "></i></a></span>
              </div>
              
            </div>
            <div class="tweet-desc w-72">
              <p class="text-white text-left text-sm">It's sad that Barcelona woll never be the same without me ...</p>
            </div>
            <div class="tweet-icons">
              <a class="comment-icon"><i class="fi fi-rr-comment-question"></i></a>
              <a class="retweet-icon"><i class="fi fi-rr-arrows-repeat"></i></a>
              <a class= "like-icon"><i class="fi fi-rr-heart"></i></a>
              <a><i class="fi fi-rr-share"></i></a>
            </div>
            


          </div>
        </div>

        <div class="single-tweet">

          <div class="image">
            <div class="avatar">
              <div class="w-12 rounded-full image-round">
                <img src="https://i.pinimg.com/564x/bd/11/b4/bd11b4c75ab3be809d368aea86c2fb6d.jpg" />
              </div>
            </div>
          </div>
          <div class="tweet-body">

            <div class="tweet-head">

              <div class="left-tweet-head">
                <div class="dropdown dropdown-hover">
                  <label tabindex="0" class="m-1 text-white"> <b>Leo Messi</b></label>
                    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                    
                  </ul>
                </div>
                <span class="text-sm handle">@leo_messi_10</span>
              </div>

              <div class="right-tweet-head">
                <span class="text-white "><a><i class="fi-rr-menu-dots "></i></a></span>
              </div>
              
            </div>
            <div class="tweet-desc w-72">
              <p class="text-white text-left text-sm">I tried</p>
            </div>
            <div class="tweet-icons">
              <a class="comment-icon"><i class="fi fi-rr-comment-question"></i></a>
              <a class="retweet-icon"><i class="fi fi-rr-arrows-repeat"></i></a>
              <a class= "like-icon"><i class="fi fi-rr-heart"></i></a>
              <a><i class="fi fi-rr-share"></i></a>
            </div>
            


          </div>
        </div>

        <div class="single-tweet">

          <div class="image">
            <div class="avatar">
              <div class="w-12 rounded-full image-round">
                <img src="https://i.pinimg.com/564x/bd/11/b4/bd11b4c75ab3be809d368aea86c2fb6d.jpg" />
              </div>
            </div>
          </div>
          <div class="tweet-body">

            <div class="tweet-head">

              <div class="left-tweet-head">
                <div class="dropdown dropdown-hover">
                  <label tabindex="0" class="m-1 text-white"> <b>Leo Messi</b></label>
                    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                    
                  </ul>
                </div>
                <span class="text-sm handle">@leo_messi_10</span>
              </div>

              <div class="right-tweet-head">
                <span class="text-white "><a><i class="fi-rr-menu-dots "></i></a></span>
              </div>
              
            </div>
            <div class="tweet-desc w-96">
              <p class="text-white text-left text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eius harum reprehenderit praesentium ducimus mollitia modi magni est perspiciatis distinctio. Harum recusandae necessitatibus reiciendis ullam praesentium magnam molestiae nulla odit!</p>
            </div>
            <div class="tweet-icons">
              <a class="comment-icon"><i class="fi fi-rr-comment-question"></i></a>
              <a class="retweet-icon"><i class="fi fi-rr-arrows-repeat"></i></a>
              <a class= "like-icon"><i class="fi fi-rr-heart"></i></a>
              <a><i class="fi fi-rr-share"></i></a>
            </div>
            


          </div>
        </div>

      </div>
    </div>

    <div class="flex-1 right-tab">
      <div class="search-input">
        <span class="search-icon"><i class="fi fi-rr-search"></i></span>
        <input type="text" placeholder="Search Twitter" class="input input-bordered rounded-full w-full max-w-xs" />
      </div>

      <div class="trends rounded-box w-80">
        <span class="text-lg text-left text-white"><h1><b>Trends for you</b></h1></span>
        <ul>
          <li class="menu-item">
            <a class="trends-menu-items">
              <span class="trend-category text-sm text-white">
              Sports - <b>Trending in South Africa</b>
              </span>
              <span class="trend-detail text-white">
              <b>Lionel Messi</b>
              </span>
              <span class="trend-category text-sm text-gray-600">
                48k tweets
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a class="trends-menu-items">
              <span class="trend-category text-sm text-white">
              Sports
              </span>
              <span class="trend-detail text-white">
              <b>Cristiano Ronaldo</b>
              </span>
              <span class="trend-category text-sm text-gray-600">
                10k tweets
              </span>
            </a>
          </li>

          <li class="menu-item">
            <a class="trends-menu-items">
              <span class="trend-category text-sm text-white">
              Entertainment
              </span>
              <span class="trend-detail text-white">
              <b>Kelly Khumalo</b>
              </span>
              <span class="trend-category text-sm text-gray-600">
                1.2k tweets
              </span>
            </a>
          </li>

          <li class="menu-item">
            <a class="trends-menu-items">
              <span class="trend-category text-sm text-white">
              Movie
              </span>
              <span class="trend-detail text-white">
              <b>The Lion King</b>
              </span>
              <span class="trend-category text-sm text-gray-600">
                1.3m tweets
              </span>
            </a>
          </li>

          <li class="menu-item">
            <a class="trends-menu-items">
              <span class="trend-category text-sm text-white">
              Movies
              </span>
              <span class="trend-detail text-white">
              <b>The New Avengers</b>
              </span>
              <span class="trend-category text-sm text-gray-600">
                9.6k tweets
              </span>
            </a>
          </li>

        </ul>

      </div>
    </div>


  </div>


</div>